/build
*.iml
/.idea
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
app/build/outputs/apk/debug/app-debug.apk
app/build/outputs/apk/debug/app-debug.apk
app/build/intermediates/transforms/mergeJavaRes/debug/__content__.json
app/build/intermediates/transforms/dexMerger/debug/__content__.json
*.dex
.idea/workspace.xml
*.lock
*.bin
*.bin
*.lock
.idea/misc.xml
.idea/workspace.xml
app/build/intermediates/blame/res/debug/multi-v2/debug.json
*.json
app/build/intermediates/classes/debug/com/bove/martin/manossolidarias/OngListActivity.class
*.class
app/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
app/build/intermediates/incremental/debug-mergeJavaRes/merge-state
app/build/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
*.dex
.idea/misc.xml
.idea/workspace.xml
